name: Rust CI

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    name: Rust CI Workflow
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache: true
          components: rustfmt, clippy
          toolchain: 1.88.0

      - name: Install SP1 toolchain
        run: |
          curl -L https://sp1.succinct.xyz | bash
          ~/.sp1/bin/sp1up 
          ~/.sp1/bin/cargo-prove prove --version

      - name: Check Formatting (rustfmt)
        run: cargo fmt --all -- --check
        
      - name: Build Rust Programs
        run: cargo build --release --locked

      - name: Lint with Clippy
        run: cargo clippy --workspace --all-targets --release --locked -- -D warnings
